.App {
  height: 100vh;
  display: flex;
  ;
}

img{
  max-width: 100%;
height: auto;
}

.latest-image {
  width: 300px;
  height: auto;
  margin: 0 auto;
  display: block;
}

*{
  margin:0;
  padding:0;
  text-decoration: none;
}



.container{
  display: flex;
  
 
}
.grow{
  transition: all .2s ease-in-out;
}
.grow:hover{
  transform: scale(1.03);
}
main{
  width: 100%;
  padding: 20px;
}
.sidebar{
  background: #000;
  color: #fff;
  height: 100vh;
  width: 200px;
  right:0;
  top:0;
  transition: all 0.5s;
  
}
.top_section{
  display: flex;
  align-items:center;
  padding:20px 15px;
}
.logo{
  font-size: 30px;
}
.bars{
  display: flex;
  font-size: 25px;
  margin-left: 50px;
}
.link{
  display: flex;
  color: #fff;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
}
.link:hover{
  background:lightskyblue;
  color: #000;
  transition: all 0.5s;
}
.active{
  background: lightskyblue;
  color: #000;
}
.icon, .link_text{
  font-size: 20px;
}

/* Small screens (up to 600px) */
@media (max-width: 600px) {
  /* Styles for small screens */
  /* .App{ overflow: hidden;} */
  [class*="col-"] {
    width: 100%;
  }
  .App{
    overflow: wrap;
  }
  body {
    background-color: lightblue;
  }
}

/* Medium screens (between 576px and 992px) */
@media (min-width: 600px) and (max-width: 992px) {
  /* Styles for medium screens */
 
}

/* Large screens (above 992px) */
@media (min-width: 1200px) {
  /* Styles for large screens */
 
  .App{ overflow: hidden;}
}

